@import 'tailwindcss';
/* Styles for the <RichTextEditor /> */
@source inline('font-bold italic underline line-through mb-2');

@theme {
  /* Breakpoints */
  --breakpoint-xs: 25rem;

  /* Background Images */
  --background-image-computer-xs: url('/images/computer-xs.png');
  --background-image-computer-md: url('/images/computer-md.png');
  --background-image-computer-lg: url('/images/computer-lg.png');

  /* Colors */
  --color-app-surface: #1b1b1b;
  --color-app-surface-alt: #252525;
  --color-border: #565656;
  --color-on-app-surface: #d9d9d9;
  --color-on-app-surface-alt: #e2e2e2;
  --color-on-primary: var(--color-app-surface);
  --color-primary: #3cc0c3;
  --color-subtle: #a1a1a1;

  --color-background: var(--color-app-surface);
  --color-foreground: var(--color-on-app-surface);

  /* Text */
  --text-4xl: 3.5rem;
  --text-3xl: 3rem;
  --text-2xl: 2.5rem;
  --text-xl: 1.75rem;
  --text-lg: 1.125rem;
  --text-base: 1rem;
  --text-md: var(--text-base);
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  /* Leading */
  --leading-md: 1.25;
  --leading-lg: 1.5;

  /* Fonts */
  --font-open-sans: 'Open Sans', 'Open Sans Fallback';
  --font-porter-sans-block: 'porterSansBlock', 'porterSansBlock Fallback';

  /* Border Radii */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;

  /* Transitions */
  --default-transition-duration: 0.2s;

  /* Focus Ring */
  --focus-ring-color: var(--color-on-app-surface);
  --focus-ring-width: 2px;
  --focus-ring-offset-color: var(--color-on-app-surface-alt);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }

  :focus-visible {
    box-shadow: 0 0 2px 2px var(--focus-ring-color);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
  }
}

@utility display-unset {
  display: unset;
}

@utility max-w-unset {
  max-width: unset;
}

@utility overscroll-behavior-none {
  overscroll-behavior: none;
}

@layer components {
  .full-bleed-bg {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      left: calc(-50vw + 50%);
      right: calc(-50vw + 50%);
      background: inherit;
      z-index: -1;
    }
  }
}

/* Dark Mode vs light later */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
