name: Code Quality

on:
  push:

defaults:
  run:
    shell: bash

env:
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - name: Install Dependencies
        run: npm install

      - name: TSC
        run: npm run tsc

      - name: Lint
        run: npm run lint

      - name: Spellcheck
        run: npm run spellcheck
